body {
  position: relative; /* For scrollyspy */
  padding-top: 50px;  /*Account for fixed navbar */
}


/*navbar*/
.ips-navbar {
  background-color: #000;
  color: #fff;
}


/*header*/
.ips-header {
  padding: 30px;
  color: #000;
  /*background-color: rgb(0,148,64);*/
  background-color: rgb(244,244,244);
  background-image: url('../images/LMU_Siegel_trans.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position:right;
}

.emu-header {
  color: #fff;
  padding: 30px;
  color: #fff;
  text-align: center;
  background-color: #0DC5FF;
}


.ips-footer {
  width: 100%;
  /*height: 20px;*/
  padding: 0;
  color: rgb(200,200,200);
  margin-top: -20px;
  text-align: right;
}

.ips-footer a{
  color: rgb(150,150,150);
}


/*all img*/
img {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
}

/* First level of nav */
.ips-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: rgb(222,222,222);
  border-radius: 5px;
}

/*p{
  text-align: justify;
  padding-: 5%;
}*/

.ips-navtab{
  background-color: #fff;
}

.ips-navtab-content{
  margin: 5%;
  text-align: justify;
}

.ips-navtab-content h1{
  margin: 5%;
  text-align: center;
}



.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 50px;
  z-index: 100;
}

/*use for if shadow fx is wanted*/
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.ips-callout {
  margin: 10px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.ips-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.ips-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.ips-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.ips-callout-danger h4 {
  color: #b94a48;
}
.ips-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.ips-callout-warning h4 {
  color: #8a6d3b;
}
.ips-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.ips-callout-info h4 {
  color: #34789a;
}

/*list of maintainers*/

.ips-team .github-btn {
float: right;
margin-top: 6px;
width: 120px;
height: 20px;
}

.github-btn {
  border:0;
  overflow: hidden;
}

